

body {
	padding-top:		50px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
	overflow-x: hidden;
}

.pull-right {
    margin-top: -6px;
}

.thumbnail {margin-bottom:6px;}
.modal-dialog .thumbnail {margin:auto;}

.imageClip{
    width:280px;
    height:145px;
    overflow:hidden;
    vertical-align: middle;
}

.imageClip{
    width:33.33%;
    height: auto;
    overflow:hidden;
    margin:auto;
}