@import url(http://fonts.googleapis.com/css?family=Roboto);
* {
    font-family: Roboto, 'sans-serif';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Roboto, 'sans-serif';
}

h3 {
    font-size: 22px;
}

body {
	padding-top:		50px;
    background: #fff;
}

a:hover {
    text-decoration: none;   
}

img {
    padding: 5px;
}

.mainbody {
    background: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: -25px;
    padding-bottom: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.article_link {
    color: #000;
}

.article_link:hover {
    text-decoration: none;
}

code {
    overflow: auto;
    word-wrap:  normal;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
	overflow-x: hidden;
}

ul .pull-right {
    margin-top: 4px;
}

header li a {
    font-size: 10pt;
}

header img {
    margin-top: 2px;
}

header .fa-rss {
    position: absolute !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
}

.navbar-brand b {
    color: #fff !important;
}

.navbar-header>a>b {
    font-size:11.3pt;
}

.page-header {
    margin: 22px 0 21px !important;
}

.thumbnail {margin-bottom:6px;}
.modal-dialog .thumbnail {margin:auto;}

#links img{
    padding:        3px;
    margin:         3px;
    border-radius:  10px;
    border:         1px solid #e2e2e2;
}

a.frontlink {
    text-decoration: none;
}

a.frontlink:hover {
    text-decoration: none;
}

.container, .front{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.caret-up {
    /* Safari */
    -webkit-transform: rotate(-180deg);

    /* Firefox */
    -moz-transform: rotate(-180deg);

    /* IE */
    -ms-transform: rotate(-180deg);

    /* Opera */
    -o-transform: rotate(-180deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);

}

.dropdown-menu {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 10px;
    margin-left: -1px;
    border-radius: 2px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.drop-up {
    top: auto;
    bottom: 100% !important;
    width: 160px;
}

.drop-up li {
    display: inline;
}

footer li:hover .fa {
    color: #fff !important;
}

@-moz-document url-prefix() {
  .drop-up .fa {
    margin-top: -17px;
  }

  .skills li {
     display: inline-block;
  }
}

.container.front {
    margin-top: -40px;
    max-width: 850px;
}

.front p {
     font-size: 12pt;
}

.front a small {
     text-shadow: none;
}

.frontbomb {
    margin-top: -40px;
}

.navbar-toggle {
    border: none;
    margin-left: 4px !important;
}

.navbar-toggle:hover {
    background-color: transparent !important;
}

.navbar-default {
    z-index: 2;
    border-bottom: solid 2px white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.navbar-default .navbar-nav>li>a {
    font-size: 9pt !important;
    text-transform: uppercase !important;
}

footer {
    background: #fff;
    margin-bottom: 0px;
}

footer .btn-primary {
    margin-top: -6px;
    padding-left: 10px;
    padding-right: 10px;
}

footer button {
    margin-right: 4px;
}

.bg {
    background: url('images/guitarblur.jpg');
    opacity: .95;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 550px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
    padding:0px;
}

.jumbotron {
    background: transparent;
    color: #fff;
    text-shadow:1px 1px rgba(0, 0, 0, 0.26);
    font-weight: 400;
    position: fixed;
    width: 100%;
    height: 550px;
}

.main {
    margin-top: 400px;
    background: #fff;
}

.well {
    border-radius: 2px;
    padding: 15px;
}

.resume-top {
    margin-right: 10px;
    margin-left: 10px;
}

.resume-social-box {
    font-size: 10pt;
}

.resume-social-box a {
    color: #000;
}

.resume-social-box a:hover {
    text-decoration: none;
    color: #007fff;
}

.resume-social-box .fa {
    font-size: 16pt;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills .btn {
    margin: 3px;
    padding: 5px;
    flex-grow: 1;
    min-width: 25%;
}

.skills small {
    font-size: 8pt;
}

.row.skills {
    padding-left: 5px;
    padding-right: 5px;
}

.indent {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 500px) {
    footer .row {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main {
        margin-top: 460px !important;
    }

    .front p {
        font-size: 11pt !important;
    }

    .mainbody {
        margin-top: -15px !important;
    }
}

@media only screen and (max-device-width: 480px) and (orientation: landscape) {
    .main {
        margin-top: 330px !important;
    }
    .front p {
        font-size: 9pt !important;
    }

    .jumbotron {
        padding: 10px !important;
    }
}

@media only screen and (max-device-width: 568px) and (orientation: landscape) {
    .main {
        margin-top: 330px !important;
    }
    .front p {
        font-size: 9pt !important;
    }

    .jumbotron {
        padding: 10px !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar-header img {
        margin-left: -16px !important;
        margin-right: -10px !important;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 10pt !important;
    }
}

@media screen and (min-width: 768px) {
    .footerCopyright {
        display: inline !important;
    }
}

@media screen and (max-width: 370px) {
    .main {
        margin-top: 480px !important;
    }

    .jumbotron {
        padding: 8px;
    }
}

.btn.btn-primary {
    transition: background-color 0.5s ease;
    border-radius: 2px;
    //border-bottom: solid 2px #005CB8;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-transform: uppercase;
    font-size: 9pt;
}

.btn.btn-success {
    transition: background-color 0.5s ease;
    border-radius: 2px;
    //border-bottom: solid 2px #397F22;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-transform: uppercase;
    font-size: 9pt;
}

.btn.btn-default {
    transition: background-color 0.5s ease;
    background-color: #252525;
    border-radius: 2px;
    //border-bottom: solid 2px #000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-transform: uppercase;
    font-size: 9pt;
}

.btn.btn-danger {
    transition: background-color 0.5s ease;
    background-color: #cc181e;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-transform: uppercase;
    font-size: 9pt;
}

.btn:hover, .btn.btn-success:hover, .btn.btn-primary:hover, .btn.btn-warning:hover, .btn.btn-info:hover, .btn.btn-danger:hover, .fab:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.26) !important;
}

footer .fa.fa-youtube-play {
    color: #cc181e !important;
}

.btn.btn-danger:hover {
    background-color: #B8161B;
}

.skills>.btn-default {
     text-transform: capitalize !important;
}

.btn.btn-info {
    transition: background-color 0.5s ease;
    border-radius: 2px;
    //border-bottom: solid 2px #7A4396;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-transform: uppercase;
    font-size: 9pt;
}

.btn, .btn.btn-success, .btn.btn-primary, .btn.btn-warning, .btn.btn-info, .btn.btn-danger, .fab {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s ease;
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.btn:active, .fab:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}

.fab:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.btn.btn-default:hover {
    background-color: #000;
}

.pagination {
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.pagination>li>a:hover {
    background-color: #eee !important;
}

.pagination>.active>a {
    background-color: #eee !important;
    color: #646464 !important;
}

.fab {
    position: fixed;
    z-index: 1;
    bottom: 22px;
    right: 14px;
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fab.blue {
    background-color: #007fff;
}

.fab.purple {
    background-color: #9954bb;
}

.fab.red {
    background-color: #cc181e;
}

.fab.green {
    /*background-color: #3fb618;*/
    background-color: #259b24;
}

.fab.black {
    background-color: #252525;
}

.fab.blue:hover {
    background-color: #007fff;
}

.fab:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}

.hideme {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hideme.show {
    visibility:visible;
    opacity: 1.0;
}

.fab > i.fa.fa-angle-up {
    margin-left: 16.5px !important;
}


/*
* Slide-out Menu
*/
#topHeader {
    height: 45px;
    background: #3F51B5;
}

@media screen and (min-width: 767px) {
    #openMenu {
        display: none;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    #sideMenu {
        width: 260px !important;   
    }
}

#sideMenu {
    transition: all 0.5s ease;
    //display: none;
    background: #fff;
    //border: solid 1px;
    width: 300px;
    height: 1000px;
    z-index: 200;
    position: fixed;
    top: 0px;
    left:-300px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.overlay {
    background-color: #000;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.4;
    filter: alpha(opacity = 50); /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 199;
}

#menuHeader {
    //background: url(images/menuBack.png);
    //background: #536DFE;
    background: #222;
    background-size: cover;
    padding: 5px;
    height: 120px;
    border-bottom: solid 1px #353535;
    margin-bottom: 20px;
}

#titleName {
    color: #fff;
    position: relative;
    margin-top: 60px;
    margin-left: 6px;
    white-space: nowrap;
}

#openMenu {
    border: none;
    position: relative;
    background: transparent;
    margin-left: 15px !important;
    margin-right: 25px;
    margin-top: 1.5px;
}

.closeMenu {
    border: none;
    position: relative;
    background: transparent;
    font-size: 12pt;
    float: right;
    top: 0px;
    right: 0px;
}

.fa.fa-bars, .fa.fa-times {
    color: #fff;
}

#sideMenu a {
    color: #353535;
}

#sideMenu a:hover {
    text-decoration: none;
}

#sideMenu li {
    padding: 15px;
}

#sideMenu li:hover {
    background-color: #f0f0f0;
}

#sideMenu ul {
    list-style-type: none;
    padding:0;
    margin:0;
    white-space: nowrap;
}
