

body {
	padding-top:		50px;
}

code {
    overflow: auto;
    word-wrap:  normal;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
	overflow-x: hidden;
}

/*.pull-right {
    margin-top: -6px;
}*/

.thumbnail {margin-bottom:6px;}
.modal-dialog .thumbnail {margin:auto;}

#links img{
    padding:        3px;
    margin:         3px;
    border-radius:  10px;
    border:         1px solid #e2e2e2;
}

.caret-up {
    /* Safari */
    -webkit-transform: rotate(-180deg);
    
    /* Firefox */
    -moz-transform: rotate(-180deg);
    
    /* IE */
    -ms-transform: rotate(-180deg);
    
    /* Opera */
    -o-transform: rotate(-180deg);
    
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);

}

.drop-up {
    top: auto;
    bottom: 100% !important;
}

.frontbomb {
    margin-top: -80px;   
}

footer .btn-primary {
    margin-top: -6px;  
}

footer button {
    margin-right: 4px;
}

.guitar {
     -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);   
}

.jumbotron {
    background-image: url(images/backgroundblur.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow:1px 1px #000;
    padding-bottom: 100px;
    font-weight: 400;
}